body {
    font-family: Arial, sans-serif;
    background-image: url('Screenshot\ 2024-06-28\ 153257.png'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
        background-color: #7e57c2; /* Purple background color */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        margin: 0;
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .apply-btn {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .apply-btn:hover {
        background-color: #45a049;
    }

    footer {
        margin-top: 20px;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-align: left;
       
    }

    .logo {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
        width: 80px; /* Adjust according to your logo size */
        height: 80px; /* Adjust according to your logo size */
    }